body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u477 {
  position:absolute;
  left:54px;
  top:11px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u478 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u479 {
  position:absolute;
  left:66px;
  top:95px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u481 {
  position:absolute;
  left:146px;
  top:94px;
  width:300px;
  height:25px;
}
#u481_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u482 {
  position:absolute;
  left:30px;
  top:156px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u484 {
  position:absolute;
  left:30px;
  top:411px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:2px;
}
#u486 {
  position:absolute;
  left:54px;
  top:49px;
  width:1186px;
  height:1px;
}
#u487 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488 {
  position:absolute;
  left:211px;
  top:572px;
  width:140px;
  height:40px;
}
#u489 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  position:absolute;
  left:424px;
  top:572px;
  width:140px;
  height:40px;
}
#u491 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u492 {
  position:absolute;
  left:30px;
  top:315px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:46px;
}
#u494 {
  position:absolute;
  left:146px;
  top:303px;
  width:400px;
  height:46px;
}
#u495 {
  position:absolute;
  left:2px;
  top:15px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:46px;
}
#u496 {
  position:absolute;
  left:146px;
  top:399px;
  width:400px;
  height:46px;
}
#u497 {
  position:absolute;
  left:2px;
  top:15px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u498 {
  position:absolute;
  left:66px;
  top:485px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u499 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u500 {
  position:absolute;
  left:181px;
  top:484px;
  width:50px;
  height:25px;
}
#u500_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u501 {
  position:absolute;
  left:241px;
  top:484px;
  width:25px;
  height:25px;
}
#u502 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u503 {
  position:absolute;
  left:146px;
  top:484px;
  width:25px;
  height:25px;
}
#u504 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u506 {
  position:absolute;
  left:144px;
  top:156px;
  width:640px;
  height:34px;
}
#u507 {
  position:absolute;
  left:2px;
  top:9px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u508 {
  position:absolute;
  left:302px;
  top:169px;
  width:16px;
  height:14px;
}
#u509 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u510 {
  position:absolute;
  left:328px;
  top:169px;
  width:16px;
  height:14px;
}
#u511 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u512 {
  position:absolute;
  left:354px;
  top:169px;
  width:16px;
  height:14px;
}
#u513 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u514 {
  position:absolute;
  left:382px;
  top:169px;
  width:16px;
  height:14px;
}
#u515 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516 {
  position:absolute;
  left:157px;
  top:166px;
  width:87px;
  height:19px;
}
#u516_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u516_input:disabled {
  color:grayText;
}
#u517 {
  position:absolute;
  left:248px;
  top:166px;
  width:44px;
  height:19px;
}
#u517_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u517_input:disabled {
  color:grayText;
}
#u518 {
  position:absolute;
  left:144px;
  top:193px;
  width:640px;
  height:90px;
}
#u518_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:52px;
}
#u519 {
  position:absolute;
  left:146px;
  top:219px;
  width:109px;
  height:52px;
}
#u520 {
  position:absolute;
  left:2px;
  top:18px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:52px;
}
#u521 {
  position:absolute;
  left:265px;
  top:219px;
  width:109px;
  height:52px;
}
#u522 {
  position:absolute;
  left:2px;
  top:18px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u523 {
  position:absolute;
  left:198px;
  top:317px;
  width:125px;
  height:19px;
  font-size:16px;
}
#u524 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u525 {
  position:absolute;
  left:382px;
  top:317px;
  width:125px;
  height:19px;
  font-size:16px;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u527 {
  position:absolute;
  left:192px;
  top:413px;
  width:125px;
  height:19px;
  font-size:16px;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u529 {
  position:absolute;
  left:376px;
  top:413px;
  width:125px;
  height:19px;
  font-size:16px;
}
#u530 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u531 {
  position:absolute;
  left:580px;
  top:347px;
  width:150px;
  height:98px;
}
#u532 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
