body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:183px;
}
#u648 {
  position:absolute;
  left:9px;
  top:18px;
  width:836px;
  height:183px;
}
#u649 {
  position:absolute;
  left:2px;
  top:84px;
  width:832px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1494px;
  height:431px;
}
#u650 {
  position:absolute;
  left:146px;
  top:261px;
  width:1494px;
  height:431px;
}
#u651 {
  position:absolute;
  left:2px;
  top:208px;
  width:1490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
}
#u652 {
  position:absolute;
  left:187px;
  top:207px;
  width:94px;
  height:44px;
}
#u653 {
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654 {
  position:absolute;
  left:294px;
  top:223px;
  width:300px;
  height:22px;
}
#u654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u654_input:disabled {
  color:grayText;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u655 {
  position:absolute;
  left:632px;
  top:209px;
  width:138px;
  height:46px;
}
#u656 {
  position:absolute;
  left:10px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  position:absolute;
  left:258px;
  top:223px;
  width:25px;
  height:18px;
}
#u658 {
  position:absolute;
  left:2px;
  top:1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
