body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:56px;
}
#u38 {
  position:absolute;
  left:294px;
  top:139px;
  width:390px;
  height:55px;
}
#u38_img.selected {
  left:-1px;
  top:-1px;
  width:393px;
  height:58px;
}
#u38.selected {
}
#u39 {
  position:absolute;
  left:2px;
  top:20px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:362px;
  top:142px;
  width:322px;
  height:50px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u41 {
  position:absolute;
  left:306px;
  top:143px;
  width:46px;
  height:46px;
}
#u41_img.selected {
}
#u41.selected {
}
#u42 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:56px;
}
#u43 {
  position:absolute;
  left:294px;
  top:229px;
  width:390px;
  height:55px;
}
#u43_img.selected {
  left:-1px;
  top:-1px;
  width:393px;
  height:58px;
}
#u43.selected {
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:362px;
  top:232px;
  width:322px;
  height:50px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u46 {
  position:absolute;
  left:303px;
  top:234px;
  width:46px;
  height:46px;
}
#u46_img.selected {
}
#u46.selected {
}
#u47 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
