body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1526 {
  position:absolute;
  left:37px;
  top:5px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u1526_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1526.selected {
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1528 {
  position:absolute;
  left:178px;
  top:5px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u1528_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1528.selected {
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1530 {
  position:absolute;
  left:37px;
  top:30px;
  width:360px;
  height:2px;
}
#u1531 {
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:2px;
  background:inherit;
  background-color:rgba(30, 192, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1532 {
  position:absolute;
  left:37px;
  top:30px;
  width:76px;
  height:2px;
}
#u1533 {
  position:absolute;
  left:2px;
  top:-7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1534 {
  position:absolute;
  left:320px;
  top:5px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u1534_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1534.selected {
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:569px;
}
#u1536 {
  position:absolute;
  left:0px;
  top:53px;
  width:1100px;
  height:569px;
}
#u1537 {
  position:absolute;
  left:2px;
  top:276px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:636px;
}
#u1539 {
  position:absolute;
  left:0px;
  top:53px;
  width:1100px;
  height:636px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:310px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1542 {
  position:absolute;
  left:400px;
  top:286px;
  width:300px;
  height:170px;
}
#u1543 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1544 {
  position:absolute;
  left:505px;
  top:329px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1545 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1546 {
  position:absolute;
  left:494px;
  top:361px;
  width:113px;
  height:17px;
}
#u1547 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1548 {
  position:absolute;
  left:439px;
  top:404px;
  width:100px;
  height:29px;
}
#u1549 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1550 {
  position:absolute;
  left:562px;
  top:404px;
  width:100px;
  height:29px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1552 {
  position:absolute;
  left:977px;
  top:391px;
  width:87px;
  height:235px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1553 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:648px;
}
#u1554 {
  position:absolute;
  left:0px;
  top:53px;
  width:1000px;
  height:648px;
}
#u1555 {
  position:absolute;
  left:2px;
  top:316px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1556 {
  position:absolute;
  left:932px;
  top:250px;
  width:57px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1557 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
