body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:35px;
  top:34px;
  width:183px;
  height:54px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:19px;
  width:179px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:35px;
  top:88px;
  width:183px;
  height:54px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:2px;
  top:19px;
  width:179px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u4 {
  position:absolute;
  left:35px;
  top:142px;
  width:183px;
  height:54px;
  color:#00CCFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:19px;
  width:179px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:284px;
  top:50px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u9 {
  position:absolute;
  left:338px;
  top:45px;
  width:70px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u9_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u9.selected {
}
#u10 {
  position:absolute;
  left:6px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u11 {
  position:absolute;
  left:341px;
  top:47px;
  width:28px;
  height:28px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:284px;
  top:123px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u16 {
  position:absolute;
  left:341px;
  top:118px;
  width:70px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u16_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u16.selected {
}
#u17 {
  position:absolute;
  left:6px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u18 {
  position:absolute;
  left:380px;
  top:120px;
  width:28px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:395px;
  top:185px;
  width:109px;
  height:25px;
}
#u20_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:503px;
  top:185px;
  width:111px;
  height:25px;
}
#u22_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22.selected {
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:612px;
  top:185px;
  width:119px;
  height:25px;
}
#u24_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:115px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:284px;
  top:209px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:255px;
}
#u28 {
  position:absolute;
  left:2px;
  top:120px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:33px;
  top:30px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:147px;
  top:29px;
  width:300px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:33px;
  top:99px;
  width:87px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:147px;
  top:98px;
  width:300px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:210px;
  top:184px;
  width:140px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u26_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u26_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:255px;
}
#u38 {
  position:absolute;
  left:2px;
  top:120px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:197px;
}
#u39 {
  position:absolute;
  left:10px;
  top:33px;
  width:600px;
  height:197px;
}
#u40 {
  position:absolute;
  left:2px;
  top:90px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u26_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:329px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:329px;
}
#u42 {
  position:absolute;
  left:2px;
  top:156px;
  width:623px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:255px;
}
#u43 {
  position:absolute;
  left:8px;
  top:12px;
  width:600px;
  height:255px;
}
#u44 {
  position:absolute;
  left:2px;
  top:120px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u26_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:573px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:573px;
}
#u46 {
  position:absolute;
  left:2px;
  top:278px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:376px;
  top:14px;
  width:130px;
  height:30px;
  color:#FFFFFF;
}
#u47_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u47.selected {
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u49 {
  position:absolute;
  left:267px;
  top:14px;
  width:130px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u51 {
  position:absolute;
  left:257px;
  top:14px;
  width:130px;
  height:30px;
  color:#FFFFFF;
}
#u51_img.selected {
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u53 {
  position:absolute;
  left:147px;
  top:14px;
  width:130px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u55 {
  position:absolute;
  left:137px;
  top:14px;
  width:130px;
  height:30px;
  color:#FFFFFF;
}
#u55_img.selected {
}
#u55.selected {
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:56px;
  top:72px;
}
#u57_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:139px;
  top:0px;
  width:300px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u61 {
  position:absolute;
  left:0px;
  top:51px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:139px;
  top:50px;
  width:300px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u64 {
  position:absolute;
  left:0px;
  top:113px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:139px;
  top:112px;
  width:300px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67 {
  position:absolute;
  left:0px;
  top:164px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:139px;
  top:162px;
  width:300px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:0px;
  top:223px;
  width:92px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:139px;
  top:222px;
  width:300px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73 {
  position:absolute;
  left:0px;
  top:276px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:139px;
  top:275px;
  width:300px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76 {
  position:absolute;
  left:0px;
  top:326px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:91px;
}
#u78 {
  position:absolute;
  left:139px;
  top:320px;
  width:164px;
  height:91px;
}
#u79 {
  position:absolute;
  left:2px;
  top:38px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u80 {
  position:absolute;
  left:196px;
  top:341px;
  width:50px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:219px;
  top:442px;
  width:140px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u57_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u57_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:315px;
}
#u84 {
  position:absolute;
  left:121px;
  top:15px;
  width:300px;
  height:315px;
}
#u85 {
  position:absolute;
  left:2px;
  top:150px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u57_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u86 {
  position:absolute;
  left:92px;
  top:119px;
  width:318px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:284px;
  top:185px;
  width:112px;
  height:25px;
}
#u88_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88.selected {
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
