body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u628 {
  position:absolute;
  left:70px;
  top:27px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:2px;
}
#u630 {
  position:absolute;
  left:70px;
  top:74px;
  width:1046px;
  height:1px;
}
#u631 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u633 {
  position:absolute;
  left:78px;
  top:557px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u636 {
  position:absolute;
  left:273px;
  top:552px;
  width:70px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u636_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u636.selected {
}
#u637 {
  position:absolute;
  left:6px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u638 {
  position:absolute;
  left:276px;
  top:554px;
  width:28px;
  height:28px;
}
#u639 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u640 {
  position:absolute;
  left:78px;
  top:620px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u643 {
  position:absolute;
  left:273px;
  top:615px;
  width:70px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u643_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u643.selected {
}
#u644 {
  position:absolute;
  left:6px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u645 {
  position:absolute;
  left:276px;
  top:617px;
  width:28px;
  height:28px;
}
#u646 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u647 {
  position:absolute;
  left:59px;
  top:579px;
  width:183px;
  height:16px;
  color:#CCCCCC;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u649 {
  position:absolute;
  left:59px;
  top:649px;
  width:477px;
  height:16px;
  color:#CCCCCC;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:30px;
}
#u651 {
  position:absolute;
  left:70px;
  top:512px;
  width:762px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u651_img.selected {
}
#u651.selected {
}
#u652 {
  position:absolute;
  left:2px;
  top:6px;
  width:758px;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:30px;
}
#u653 {
  position:absolute;
  left:70px;
  top:95px;
  width:762px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u653_img.selected {
}
#u653.selected {
}
#u654 {
  position:absolute;
  left:2px;
  top:6px;
  width:758px;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:788px;
  top:97px;
}
#u655_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u655_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u658 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u659 {
  position:absolute;
  left:6px;
  top:6px;
  width:15px;
  height:15px;
}
#u660 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u655_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u663 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u664 {
  position:absolute;
  left:6px;
  top:6px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u665 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u667 {
  position:absolute;
  left:213px;
  top:137px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u669 {
  position:absolute;
  left:408px;
  top:137px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u671 {
  position:absolute;
  left:603px;
  top:137px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:221px;
  top:195px;
  width:43px;
  height:16px;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u675 {
  position:absolute;
  left:383px;
  top:192px;
  width:123px;
  height:22px;
}
#u675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u675_input:disabled {
  color:grayText;
}
#u676 {
  position:absolute;
  left:569px;
  top:192px;
  width:123px;
  height:22px;
}
#u676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u676_input:disabled {
  color:grayText;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:221px;
  top:265px;
  width:43px;
  height:16px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u679 {
  position:absolute;
  left:383px;
  top:262px;
  width:123px;
  height:22px;
}
#u679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u679_input:disabled {
  color:grayText;
}
#u680 {
  position:absolute;
  left:569px;
  top:262px;
  width:123px;
  height:22px;
}
#u680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u680_input:disabled {
  color:grayText;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  position:absolute;
  left:221px;
  top:329px;
  width:43px;
  height:16px;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u683 {
  position:absolute;
  left:383px;
  top:326px;
  width:123px;
  height:22px;
}
#u683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u683_input:disabled {
  color:grayText;
}
#u684 {
  position:absolute;
  left:569px;
  top:326px;
  width:123px;
  height:22px;
}
#u684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u684_input:disabled {
  color:grayText;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:221px;
  top:391px;
  width:43px;
  height:16px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u687 {
  position:absolute;
  left:383px;
  top:388px;
  width:123px;
  height:22px;
}
#u687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u687_input:disabled {
  color:grayText;
}
#u688 {
  position:absolute;
  left:569px;
  top:388px;
  width:123px;
  height:22px;
}
#u688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u688_input:disabled {
  color:grayText;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:375px;
  top:455px;
  width:140px;
  height:40px;
}
#u690 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u691 {
  position:absolute;
  left:747px;
  top:290px;
  width:150px;
  height:150px;
}
#u692 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
