body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1752 {
  position:absolute;
  left:70px;
  top:27px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1753 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:2px;
}
#u1754 {
  position:absolute;
  left:70px;
  top:74px;
  width:1046px;
  height:1px;
}
#u1755 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1756 {
  position:absolute;
  left:244px;
  top:13px;
  width:233px;
  height:51px;
}
#u1757 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1758 {
  position:absolute;
  left:70px;
  top:85px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1760 {
  position:absolute;
  left:89px;
  top:117px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1761 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1762 {
  position:absolute;
  left:89px;
  top:161px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1763 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1764 {
  position:absolute;
  left:89px;
  top:205px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1765 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1766 {
  position:absolute;
  left:70px;
  top:335px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1767 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1768 {
  position:absolute;
  left:121px;
  top:331px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1769 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1770 {
  position:absolute;
  left:70px;
  top:381px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1771 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1772 {
  position:absolute;
  left:121px;
  top:377px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1773 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u1774 {
  position:absolute;
  left:976px;
  top:128px;
  width:17px;
  height:16px;
  color:#3399FF;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u1776 {
  position:absolute;
  left:976px;
  top:172px;
  width:17px;
  height:16px;
  color:#3399FF;
}
#u1777 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u1778 {
  position:absolute;
  left:976px;
  top:216px;
  width:17px;
  height:16px;
  color:#3399FF;
}
#u1779 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
