body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u656 {
  position:absolute;
  left:195px;
  top:102px;
  width:300px;
  height:170px;
}
#u657 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u658 {
  position:absolute;
  left:195px;
  top:402px;
  width:300px;
  height:170px;
}
#u659 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u660 {
  position:absolute;
  left:195px;
  top:713px;
  width:300px;
  height:170px;
}
#u661 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u662 {
  position:absolute;
  left:195px;
  top:1065px;
  width:300px;
  height:170px;
}
#u663 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u664 {
  position:absolute;
  left:725px;
  top:263px;
  width:300px;
  height:170px;
}
#u665 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666 {
  position:absolute;
  left:1025px;
  top:263px;
  width:100px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u667 {
  position:absolute;
  left:195px;
  top:1370px;
  width:300px;
  height:170px;
}
#u668 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u669 {
  position:absolute;
  left:195px;
  top:1722px;
  width:300px;
  height:170px;
}
#u670 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
