body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u597 {
  position:absolute;
  left:195px;
  top:102px;
  width:300px;
  height:170px;
}
#u598 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u599 {
  position:absolute;
  left:195px;
  top:402px;
  width:300px;
  height:170px;
}
#u600 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u601 {
  position:absolute;
  left:195px;
  top:713px;
  width:300px;
  height:170px;
}
#u602 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u603 {
  position:absolute;
  left:195px;
  top:1065px;
  width:300px;
  height:170px;
}
#u604 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u605 {
  position:absolute;
  left:725px;
  top:263px;
  width:300px;
  height:170px;
}
#u606 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607 {
  position:absolute;
  left:1025px;
  top:263px;
  width:100px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u608 {
  position:absolute;
  left:195px;
  top:1370px;
  width:300px;
  height:170px;
}
#u609 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u610 {
  position:absolute;
  left:195px;
  top:1722px;
  width:300px;
  height:170px;
}
#u611 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
