body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u697 {
  position:absolute;
  left:70px;
  top:27px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:2px;
}
#u699 {
  position:absolute;
  left:70px;
  top:74px;
  width:1046px;
  height:1px;
}
#u700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:826px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  position:absolute;
  left:15px;
  top:10px;
  width:1201px;
  height:826px;
  opacity:0.6;
}
#u702 {
  position:absolute;
  left:2px;
  top:405px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  position:absolute;
  left:466px;
  top:293px;
  width:300px;
  height:170px;
}
#u704 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u705 {
  position:absolute;
  left:477px;
  top:318px;
  width:279px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#2D9CD5;
}
#u707 {
  position:absolute;
  left:499px;
  top:373px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#2D9CD5;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
