body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2071 {
  position:absolute;
  left:23px;
  top:13px;
  width:57px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:2px;
}
#u2073 {
  position:absolute;
  left:33px;
  top:78px;
  width:988px;
  height:1px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:33px;
  top:101px;
  width:988px;
  height:55px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:20px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2077 {
  position:absolute;
  left:95px;
  top:115px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2079 {
  position:absolute;
  left:396px;
  top:115px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2081 {
  position:absolute;
  left:649px;
  top:115px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2083 {
  position:absolute;
  left:902px;
  top:115px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2085 {
  position:absolute;
  left:120px;
  top:208px;
  width:47px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2087 {
  position:absolute;
  left:309px;
  top:208px;
  width:224px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2089 {
  position:absolute;
  left:650px;
  top:208px;
  width:47px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u2091 {
  position:absolute;
  left:902px;
  top:208px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2093 {
  position:absolute;
  left:352px;
  top:347px;
  width:168px;
  height:71px;
}
#u2094 {
  position:absolute;
  left:10px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
