body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:185px;
}
.u197 {
  position:absolute;
  left:0px;
  top:10px;
  width:346px;
  height:184px;
}
.u198 {
  position:absolute;
  left:2px;
  top:84px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
.u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
.u199 {
  position:absolute;
  left:10px;
  top:17px;
  width:170px;
  height:170px;
}
.u200 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
.u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
.u201 {
  position:absolute;
  left:196px;
  top:17px;
  width:29px;
  height:16px;
}
.u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
.u203 {
  position:absolute;
  left:197px;
  top:40px;
  width:29px;
  height:16px;
  color:#999999;
}
.u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
.u205 {
  position:absolute;
  left:289px;
  top:40px;
  width:29px;
  height:16px;
  color:#999999;
}
.u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
.u207 {
  position:absolute;
  left:197px;
  top:144px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
.u209 {
  position:absolute;
  left:312px;
  top:132px;
  width:20px;
  height:20px;
}
.u210 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:194px;
}
#u196-2 {
  position:absolute;
  left:378px;
  top:0px;
  width:348px;
  height:194px;
}
#u196-3 {
  position:absolute;
  left:0px;
  top:209px;
  width:348px;
  height:194px;
}
#u196-4 {
  position:absolute;
  left:378px;
  top:209px;
  width:348px;
  height:194px;
}
#u196-5 {
  position:absolute;
  left:0px;
  top:418px;
  width:348px;
  height:194px;
}
#u196-6 {
  position:absolute;
  left:378px;
  top:418px;
  width:348px;
  height:194px;
}
#u196 {
  position:absolute;
  left:122px;
  top:107px;
  width:726px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u212 {
  position:absolute;
  left:312px;
  top:74px;
  width:29px;
  height:16px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u214 {
  position:absolute;
  left:341px;
  top:67px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u215 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:291px;
  top:59px;
  visibility:hidden;
}
#u216_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u216_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:80px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:79px;
}
#u218 {
  position:absolute;
  left:2px;
  top:32px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u219 {
  position:absolute;
  left:23px;
  top:15px;
  width:85px;
  height:16px;
}
#u219_img.mouseOver {
}
#u219.mouseOver {
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u221 {
  position:absolute;
  left:23px;
  top:50px;
  width:85px;
  height:16px;
}
#u221_img.mouseOver {
}
#u221.mouseOver {
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u223 {
  position:absolute;
  left:433px;
  top:74px;
  width:29px;
  height:16px;
}
#u223_img.mouseOver {
}
#u223.mouseOver {
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
