body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:0px;
  top:116px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:0px;
  top:170px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:183px;
  top:0px;
  width:1300px;
  height:945px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:945px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:0px;
  top:224px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u7 {
  position:absolute;
  left:152px;
  top:246px;
  width:20px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:0px;
  top:10px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:0px;
  top:64px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u11_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u11.selected {
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u13 {
  position:absolute;
  left:0px;
  top:278px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u13_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
