body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:63px;
  top:40px;
  width:1077px;
  height:830px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:830px;
}
#u1 {
  position:absolute;
  left:2px;
  top:407px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:481px;
  top:90px;
  width:330px;
  height:37px;
  font-size:24px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:145px;
  top:160px;
  width:330px;
  height:37px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:435px;
  width:330px;
  height:37px;
  font-size:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:145px;
  top:482px;
  width:845px;
  height:37px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1065px;
  top:79px;
  width:40px;
  height:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
