body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:962px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:60px;
}
#u376 {
  position:absolute;
  left:310px;
  top:167px;
  width:328px;
  height:59px;
}
#u376_img.selected {
}
#u376.selected {
}
#u376_img.disabled {
}
#u376.disabled {
}
#u377 {
  position:absolute;
  left:2px;
  top:22px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378 {
  position:absolute;
  left:323px;
  top:176px;
  width:306px;
  height:41px;
}
#u378_input {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:41px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u379 {
  position:absolute;
  left:657px;
  top:182px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFCC66;
  text-align:center;
}
#u380 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
}
#u381 {
  position:absolute;
  left:687px;
  top:180px;
  width:275px;
  height:36px;
}
#u382 {
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
