body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:2px;
  top:25px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:2px;
  top:68px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u2_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2.selected {
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4 {
  position:absolute;
  left:155px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u5 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:2px;
  top:223px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:192px;
  top:-1px;
  width:1687px;
  height:1121px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1687px;
  height:1121px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:111px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u9_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u9.selected {
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:58px;
}
#u11 {
  position:absolute;
  left:2px;
  top:159px;
  width:190px;
  height:58px;
}
#u12 {
  position:absolute;
  left:2px;
  top:5px;
  width:186px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:2px;
  top:266px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u13_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:309px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u15_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:352px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u17_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:2px;
  top:395px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u19_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:438px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u21_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:2px;
  top:481px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u23_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:524px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u25_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:2px;
  top:567px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u27_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:2px;
  top:610px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u29_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:2px;
  top:653px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u31_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:696px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u33_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:2px;
  top:739px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u35_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
