body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1277 {
  position:absolute;
  left:70px;
  top:27px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:2px;
}
#u1279 {
  position:absolute;
  left:70px;
  top:74px;
  width:1046px;
  height:1px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  position:absolute;
  left:244px;
  top:13px;
  width:233px;
  height:51px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1283 {
  position:absolute;
  left:70px;
  top:85px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1285 {
  position:absolute;
  left:89px;
  top:117px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1287 {
  position:absolute;
  left:89px;
  top:161px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7AC23C;
  text-align:center;
}
#u1289 {
  position:absolute;
  left:961px;
  top:165px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7AC23C;
  text-align:center;
}
#u1290 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1291 {
  position:absolute;
  left:89px;
  top:205px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7AC23C;
  text-align:center;
}
#u1293 {
  position:absolute;
  left:961px;
  top:209px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7AC23C;
  text-align:center;
}
#u1294 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u1295 {
  position:absolute;
  left:948px;
  top:128px;
  width:59px;
  height:16px;
  color:#3399FF;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1297 {
  position:absolute;
  left:70px;
  top:335px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1298 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1299 {
  position:absolute;
  left:121px;
  top:331px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1300 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1301 {
  position:absolute;
  left:70px;
  top:381px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1302 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1303 {
  position:absolute;
  left:121px;
  top:377px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1304 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
