body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1400 {
  position:absolute;
  left:70px;
  top:27px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1401 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:2px;
}
#u1402 {
  position:absolute;
  left:70px;
  top:74px;
  width:1046px;
  height:1px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  position:absolute;
  left:244px;
  top:13px;
  width:233px;
  height:51px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1406 {
  position:absolute;
  left:70px;
  top:85px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1408 {
  position:absolute;
  left:89px;
  top:117px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1410 {
  position:absolute;
  left:89px;
  top:161px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7AC23C;
  text-align:center;
}
#u1412 {
  position:absolute;
  left:961px;
  top:165px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7AC23C;
  text-align:center;
}
#u1413 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u1414 {
  position:absolute;
  left:89px;
  top:205px;
  width:926px;
  height:37px;
  font-size:16px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:9px;
  width:922px;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7AC23C;
  text-align:center;
}
#u1416 {
  position:absolute;
  left:961px;
  top:209px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7AC23C;
  text-align:center;
}
#u1417 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u1418 {
  position:absolute;
  left:956px;
  top:128px;
  width:43px;
  height:16px;
  color:#3399FF;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1420 {
  position:absolute;
  left:70px;
  top:335px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1422 {
  position:absolute;
  left:121px;
  top:331px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1423 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1424 {
  position:absolute;
  left:70px;
  top:381px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1425 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1426 {
  position:absolute;
  left:121px;
  top:377px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1427 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
