body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u636 {
  position:absolute;
  left:23px;
  top:13px;
  width:141px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:2px;
}
#u638 {
  position:absolute;
  left:33px;
  top:78px;
  width:988px;
  height:1px;
}
#u639 {
  position:absolute;
  left:2px;
  top:-8px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u640 {
  position:absolute;
  left:110px;
  top:245px;
  width:605px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  white-space:nowrap;
}
