body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u145 {
  position:absolute;
  left:17px;
  top:11px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u147 {
  position:absolute;
  left:25px;
  top:49px;
  width:900px;
  height:1px;
}
#u148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u150 {
  position:absolute;
  left:163px;
  top:99px;
  width:70px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u150_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u150.selected {
}
#u151 {
  position:absolute;
  left:6px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u152 {
  position:absolute;
  left:166px;
  top:101px;
  width:28px;
  height:28px;
}
#u153 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u154 {
  position:absolute;
  left:80px;
  top:104px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u157 {
  position:absolute;
  left:163px;
  top:161px;
  width:70px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u157_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u157.selected {
}
#u158 {
  position:absolute;
  left:6px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u159 {
  position:absolute;
  left:166px;
  top:163px;
  width:28px;
  height:28px;
}
#u160 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u161 {
  position:absolute;
  left:80px;
  top:166px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u163 {
  position:absolute;
  left:80px;
  top:225px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u165 {
  position:absolute;
  left:317px;
  top:107px;
  width:196px;
  height:17px;
  color:#999999;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u167 {
  position:absolute;
  left:317px;
  top:169px;
  width:210px;
  height:17px;
  color:#999999;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u169 {
  position:absolute;
  left:255px;
  top:225px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:163px;
  top:224px;
  width:81px;
  height:25px;
}
#u171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u172 {
  position:absolute;
  left:80px;
  top:286px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:241px;
  top:286px;
  width:153px;
  height:22px;
}
#u174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u174_input:disabled {
  color:grayText;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  position:absolute;
  left:297px;
  top:575px;
  width:140px;
  height:40px;
}
#u176 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u177 {
  position:absolute;
  left:80px;
  top:335px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:241px;
  top:335px;
  width:153px;
  height:22px;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u179_input:disabled {
  color:grayText;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u180 {
  position:absolute;
  left:80px;
  top:382px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:241px;
  top:377px;
  width:544px;
  height:144px;
}
#u182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:144px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
