body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1641px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:901px;
}
#u660 {
  position:absolute;
  left:41px;
  top:44px;
  width:450px;
  height:901px;
}
#u661 {
  position:absolute;
  left:2px;
  top:442px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u662 {
  position:absolute;
  left:400px;
  top:448px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:867px;
}
#u664 {
  position:absolute;
  left:627px;
  top:44px;
  width:400px;
  height:867px;
}
#u665 {
  position:absolute;
  left:2px;
  top:426px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:784px;
}
#u666 {
  position:absolute;
  left:627px;
  top:127px;
  width:400px;
  height:784px;
}
#u667 {
  position:absolute;
  left:2px;
  top:384px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u668 {
  position:absolute;
  left:760px;
  top:86px;
  width:135px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:677px;
  top:142px;
  width:300px;
  height:119px;
}
#u671 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u672 {
  position:absolute;
  left:790px;
  top:134px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:867px;
}
#u674 {
  position:absolute;
  left:627px;
  top:1006px;
  width:400px;
  height:867px;
}
#u675 {
  position:absolute;
  left:2px;
  top:426px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:784px;
}
#u676 {
  position:absolute;
  left:627px;
  top:1089px;
  width:400px;
  height:784px;
}
#u677 {
  position:absolute;
  left:2px;
  top:384px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u678 {
  position:absolute;
  left:760px;
  top:1048px;
  width:135px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:677px;
  top:1104px;
  width:300px;
  height:273px;
}
#u681 {
  position:absolute;
  left:2px;
  top:128px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u682 {
  position:absolute;
  left:790px;
  top:1096px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  position:absolute;
  left:677px;
  top:1406px;
  width:300px;
  height:268px;
}
#u685 {
  position:absolute;
  left:2px;
  top:126px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u686 {
  position:absolute;
  left:790px;
  top:1398px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u688_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u688 {
  position:absolute;
  left:425px;
  top:399px;
  width:30px;
  height:30px;
}
#u689 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690 {
  position:absolute;
  left:455px;
  top:414px;
  width:0px;
  height:0px;
}
#u690_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u690_seg1 {
  position:absolute;
  left:142px;
  top:-10px;
  width:20px;
  height:20px;
}
#u691 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u692 {
  position:absolute;
  left:986px;
  top:86px;
  width:30px;
  height:26px;
  color:#CCCCCC;
}
#u693 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u694 {
  position:absolute;
  left:990px;
  top:1048px;
  width:30px;
  height:26px;
  color:#CCCCCC;
}
#u695 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:867px;
}
#u696 {
  position:absolute;
  left:1241px;
  top:44px;
  width:400px;
  height:867px;
}
#u697 {
  position:absolute;
  left:2px;
  top:426px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:784px;
}
#u698 {
  position:absolute;
  left:1241px;
  top:127px;
  width:400px;
  height:784px;
}
#u699 {
  position:absolute;
  left:2px;
  top:384px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u700 {
  position:absolute;
  left:1374px;
  top:86px;
  width:135px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:center;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u702 {
  position:absolute;
  left:997px;
  top:87px;
  width:30px;
  height:30px;
}
#u703 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704 {
  position:absolute;
  left:1027px;
  top:102px;
  width:0px;
  height:0px;
}
#u704_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u704_seg1 {
  position:absolute;
  left:203px;
  top:-76px;
  width:8px;
  height:80px;
}
#u704_seg2 {
  position:absolute;
  left:203px;
  top:-76px;
  width:215px;
  height:8px;
}
#u704_seg3 {
  position:absolute;
  left:410px;
  top:-76px;
  width:8px;
  height:18px;
}
#u704_seg4 {
  position:absolute;
  left:404px;
  top:-71px;
  width:20px;
  height:20px;
}
#u705 {
  position:absolute;
  left:157px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  position:absolute;
  left:1262px;
  top:133px;
  width:358px;
  height:64px;
}
#u708 {
  position:absolute;
  left:2px;
  top:24px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u709 {
  position:absolute;
  left:1279px;
  top:139px;
  width:53px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u711 {
  position:absolute;
  left:1350px;
  top:139px;
  width:98px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  position:absolute;
  left:1291px;
  top:168px;
  width:127px;
  height:17px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u715 {
  position:absolute;
  left:1502px;
  top:157px;
  width:112px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:1262px;
  top:214px;
  width:358px;
  height:64px;
}
#u719 {
  position:absolute;
  left:2px;
  top:24px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u720 {
  position:absolute;
  left:1279px;
  top:220px;
  width:53px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u722 {
  position:absolute;
  left:1350px;
  top:220px;
  width:98px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:1291px;
  top:249px;
  width:127px;
  height:17px;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u726 {
  position:absolute;
  left:1502px;
  top:238px;
  width:112px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:784px;
}
#u728 {
  position:absolute;
  left:66px;
  top:1006px;
  width:400px;
  height:784px;
}
#u729 {
  position:absolute;
  left:2px;
  top:384px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:404px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  position:absolute;
  left:116px;
  top:1021px;
  width:300px;
  height:404px;
}
#u731 {
  position:absolute;
  left:2px;
  top:194px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(247, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u732 {
  position:absolute;
  left:229px;
  top:1013px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u734 {
  position:absolute;
  left:152px;
  top:1059px;
  width:100px;
  height:100px;
  font-size:28px;
}
#u735 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u736 {
  position:absolute;
  left:281px;
  top:1059px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u737 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u738 {
  position:absolute;
  left:152px;
  top:1182px;
  width:100px;
  height:100px;
  font-size:28px;
}
#u739 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u740 {
  position:absolute;
  left:281px;
  top:1181px;
  width:100px;
  height:100px;
  font-size:28px;
}
#u741 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u742 {
  position:absolute;
  left:152px;
  top:1304px;
  width:100px;
  height:100px;
  font-size:28px;
}
#u743 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u744 {
  position:absolute;
  left:281px;
  top:1304px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u745 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:-5px;
  width:110px;
  height:110px;
}
#u746 {
  position:absolute;
  left:713px;
  top:1128px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u746_img.mouseDown {
}
#u746.mouseDown {
}
#u747 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u748 {
  position:absolute;
  left:842px;
  top:1128px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u748_img.mouseDown {
}
#u748.mouseDown {
}
#u749 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u750 {
  position:absolute;
  left:713px;
  top:1251px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u750_img.mouseDown {
}
#u750.mouseDown {
}
#u751 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u752 {
  position:absolute;
  left:713px;
  top:1429px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u752_img.mouseDown {
}
#u752.mouseDown {
}
#u753 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u754 {
  position:absolute;
  left:842px;
  top:1429px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u754_img.mouseDown {
}
#u754.mouseDown {
}
#u755 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u756 {
  position:absolute;
  left:713px;
  top:1552px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u756_img.mouseDown {
}
#u756.mouseDown {
}
#u757 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u758 {
  position:absolute;
  left:842px;
  top:1552px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u758_img.mouseDown {
}
#u758.mouseDown {
}
#u759 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:-5px;
  width:110px;
  height:110px;
}
#u760 {
  position:absolute;
  left:713px;
  top:152px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u760_img.mouseDown {
}
#u760.mouseDown {
}
#u761 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u762 {
  position:absolute;
  left:842px;
  top:152px;
  width:100px;
  height:100px;
  font-size:28px;
  color:#F7F8FA;
}
#u762_img.mouseDown {
}
#u762.mouseDown {
}
#u763 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
