body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:185px;
}
.u228 {
  position:absolute;
  left:0px;
  top:10px;
  width:346px;
  height:184px;
}
.u229 {
  position:absolute;
  left:2px;
  top:84px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
.u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
.u230 {
  position:absolute;
  left:10px;
  top:17px;
  width:170px;
  height:170px;
}
.u231 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
.u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
.u232 {
  position:absolute;
  left:196px;
  top:17px;
  width:29px;
  height:16px;
}
.u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
.u234 {
  position:absolute;
  left:197px;
  top:40px;
  width:29px;
  height:16px;
  color:#999999;
}
.u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
.u236 {
  position:absolute;
  left:289px;
  top:40px;
  width:29px;
  height:16px;
  color:#999999;
}
.u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
.u238 {
  position:absolute;
  left:197px;
  top:144px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
.u240 {
  position:absolute;
  left:312px;
  top:132px;
  width:20px;
  height:20px;
}
.u241 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:194px;
}
#u227-2 {
  position:absolute;
  left:378px;
  top:0px;
  width:348px;
  height:194px;
}
#u227-3 {
  position:absolute;
  left:0px;
  top:209px;
  width:348px;
  height:194px;
}
#u227-4 {
  position:absolute;
  left:378px;
  top:209px;
  width:348px;
  height:194px;
}
#u227-5 {
  position:absolute;
  left:0px;
  top:418px;
  width:348px;
  height:194px;
}
#u227-6 {
  position:absolute;
  left:378px;
  top:418px;
  width:348px;
  height:194px;
}
#u227 {
  position:absolute;
  left:122px;
  top:107px;
  width:726px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u242 {
  position:absolute;
  left:533px;
  top:58px;
  width:70px;
  height:16px;
}
#u243 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u242_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u244 {
  position:absolute;
  left:623px;
  top:58px;
  width:100px;
  height:16px;
}
#u245 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
