body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6417 {
  position:absolute;
  left:0px;
  top:10px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6418 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u6419 {
  position:absolute;
  left:183px;
  top:0px;
  width:1300px;
  height:945px;
}
#u6419_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:945px;
}
#u6420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6420 {
  position:absolute;
  left:0px;
  top:64px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6421 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u6422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6422 {
  position:absolute;
  left:0px;
  top:172px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6423 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u6424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6424 {
  position:absolute;
  left:0px;
  top:226px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6425 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u6426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6426 {
  position:absolute;
  left:0px;
  top:118px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6427 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u6428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6428 {
  position:absolute;
  left:0px;
  top:280px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6429 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u6430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6430 {
  position:absolute;
  left:0px;
  top:333px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6431 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u6432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6432 {
  position:absolute;
  left:0px;
  top:387px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6433 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u6434 {
  position:fixed;
  right:20px;
  bottom:20px;
  width:208px;
  height:73px;
  overflow:hidden;
}
#u6434_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6434_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6435 {
  position:absolute;
  left:17px;
  top:13px;
  width:140px;
  height:40px;
}
#u6436 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6437 {
  position:absolute;
  left:0px;
  top:440px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u6438 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
