body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1141px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u890 {
  position:absolute;
  left:41px;
  top:13px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u892 {
  position:absolute;
  left:41px;
  top:68px;
  width:1100px;
  height:1px;
}
#u893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:41px;
  top:136px;
  width:1100px;
  height:40px;
}
#u895 {
  position:absolute;
  left:2px;
  top:12px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u896 {
  position:absolute;
  left:199px;
  top:151px;
  width:16px;
  height:16px;
}
#u897 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u898 {
  position:absolute;
  left:300px;
  top:151px;
  width:16px;
  height:16px;
}
#u899 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u900 {
  position:absolute;
  left:326px;
  top:151px;
  width:16px;
  height:16px;
}
#u901 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u902 {
  position:absolute;
  left:352px;
  top:151px;
  width:16px;
  height:16px;
}
#u903 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u904 {
  position:absolute;
  left:225px;
  top:151px;
  width:16px;
  height:16px;
}
#u905 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u906 {
  position:absolute;
  left:251px;
  top:151px;
  width:16px;
  height:16px;
}
#u907 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u908 {
  position:absolute;
  left:453px;
  top:151px;
  width:16px;
  height:16px;
}
#u909 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u910 {
  position:absolute;
  left:401px;
  top:151px;
  width:16px;
  height:16px;
}
#u911 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u912 {
  position:absolute;
  left:427px;
  top:151px;
  width:16px;
  height:16px;
}
#u913 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u914 {
  position:absolute;
  left:577px;
  top:151px;
  width:16px;
  height:16px;
}
#u915 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u916 {
  position:absolute;
  left:603px;
  top:151px;
  width:16px;
  height:16px;
}
#u917 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u918 {
  position:absolute;
  left:528px;
  top:151px;
  width:16px;
  height:16px;
}
#u919 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920 {
  position:absolute;
  left:54px;
  top:148px;
  width:87px;
  height:22px;
}
#u920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u920_input:disabled {
  color:grayText;
}
#u921 {
  position:absolute;
  left:145px;
  top:148px;
  width:44px;
  height:22px;
}
#u921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u921_input:disabled {
  color:grayText;
}
#u922 {
  position:absolute;
  left:41px;
  top:180px;
  width:1100px;
  height:200px;
}
#u922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:200px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:521px;
  top:433px;
  width:140px;
  height:40px;
}
#u924 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u925 {
  position:absolute;
  left:41px;
  top:94px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
