body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:992px;
}
#u732 {
  position:absolute;
  left:37px;
  top:10px;
  width:211px;
  height:992px;
}
#u733 {
  position:absolute;
  left:2px;
  top:488px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u734 {
  position:absolute;
  left:70px;
  top:940px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u736 {
  position:absolute;
  left:362px;
  top:21px;
  width:130px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  position:absolute;
  left:390px;
  top:79px;
  width:140px;
  height:40px;
}
#u739 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
