body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1141px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u861 {
  position:absolute;
  left:41px;
  top:13px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u863 {
  position:absolute;
  left:41px;
  top:68px;
  width:1100px;
  height:1px;
}
#u864 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u865 {
  position:absolute;
  left:41px;
  top:94px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u867 {
  position:absolute;
  left:172px;
  top:93px;
  width:172px;
  height:25px;
}
#u867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u868 {
  position:absolute;
  left:41px;
  top:154px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u870 {
  position:absolute;
  left:172px;
  top:154px;
  width:172px;
  height:22px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u870_input:disabled {
  color:grayText;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u871 {
  position:absolute;
  left:41px;
  top:223px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:172px;
  top:223px;
  width:172px;
  height:22px;
}
#u873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u873_input:disabled {
  color:grayText;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874 {
  position:absolute;
  left:41px;
  top:289px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u876 {
  position:absolute;
  left:172px;
  top:289px;
  width:478px;
  height:189px;
}
#u876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:189px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:409px;
  top:543px;
  width:140px;
  height:40px;
}
#u878 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:633px;
  top:543px;
  width:140px;
  height:40px;
}
#u880 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
