body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1773 {
  position:absolute;
  left:403px;
  top:204px;
  width:328px;
  height:194px;
}
#u1774 {
  position:absolute;
  left:2px;
  top:89px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1775 {
  position:absolute;
  left:504px;
  top:234px;
  width:127px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1776 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1777 {
  position:absolute;
  left:461px;
  top:274px;
  width:29px;
  height:16px;
}
#u1778 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1779 {
  position:absolute;
  left:499px;
  top:270px;
  width:175px;
  height:25px;
}
#u1779_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1780 {
  position:absolute;
  left:491px;
  top:338px;
  width:140px;
  height:40px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1782 {
  position:absolute;
  left:469px;
  top:305px;
  width:197px;
  height:16px;
  opacity:0.6;
}
#u1783 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
