body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:92px;
}
#u1220 {
  position:absolute;
  left:99px;
  top:11px;
  width:231px;
  height:92px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1221 {
  position:absolute;
  left:2px;
  top:38px;
  width:227px;
  word-wrap:break-word;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1222 {
  position:absolute;
  left:351px;
  top:50px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  position:absolute;
  left:0px;
  top:177px;
  width:1224px;
  height:49px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:16px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1226 {
  position:absolute;
  left:99px;
  top:188px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:300px;
}
#u1228 {
  position:absolute;
  left:99px;
  top:240px;
  width:1086px;
  height:300px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:142px;
  width:1082px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1230 {
  position:absolute;
  left:99px;
  top:566px;
  width:1036px;
  height:106px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  white-space:nowrap;
}
#u1232 {
  position:absolute;
  left:99px;
  top:124px;
}
#u1232_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1232_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
}
#u1233_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233.selected {
}
#u1234 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235 {
  position:absolute;
  left:135px;
  top:0px;
  width:136px;
  height:43px;
}
#u1235_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235.selected {
}
#u1236 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:270px;
  top:0px;
  width:136px;
  height:43px;
}
#u1237_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237.selected {
}
#u1238 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  position:absolute;
  left:405px;
  top:0px;
  width:136px;
  height:43px;
}
#u1239_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239.selected {
}
#u1240 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  position:absolute;
  left:540px;
  top:0px;
  width:136px;
  height:43px;
}
#u1241_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241.selected {
}
#u1242 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243 {
  position:absolute;
  left:675px;
  top:0px;
  width:136px;
  height:43px;
}
#u1243_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243.selected {
}
#u1244 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  position:absolute;
  left:945px;
  top:0px;
  width:136px;
  height:43px;
}
#u1245_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245.selected {
}
#u1246 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  position:absolute;
  left:134px;
  top:42px;
  width:136px;
  height:43px;
}
#u1248_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248.mouseOver {
}
#u1249 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  position:absolute;
  left:134px;
  top:84px;
  width:136px;
  height:43px;
}
#u1250_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250.mouseOver {
}
#u1251 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  position:absolute;
  left:134px;
  top:126px;
  width:136px;
  height:43px;
}
#u1252_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252.mouseOver {
}
#u1253 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1255 {
  position:absolute;
  left:270px;
  top:43px;
  width:136px;
  height:43px;
}
#u1255_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1255.mouseOver {
}
#u1256 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1257 {
  position:absolute;
  left:270px;
  top:85px;
  width:136px;
  height:43px;
}
#u1257_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1257.mouseOver {
}
#u1258 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1259 {
  position:absolute;
  left:270px;
  top:127px;
  width:136px;
  height:43px;
}
#u1259_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1259.mouseOver {
}
#u1260 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1261 {
  position:absolute;
  left:810px;
  top:0px;
  width:136px;
  height:43px;
}
#u1261_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1261.selected {
}
#u1262 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1263 {
  position:absolute;
  left:57px;
  top:124px;
  width:42px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
