body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:348px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:348px;
}
#u115 {
  position:absolute;
  left:2px;
  top:166px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:157px;
}
#u116 {
  position:absolute;
  left:154px;
  top:421px;
  width:480px;
  height:157px;
}
#u117 {
  position:absolute;
  left:2px;
  top:70px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u118 {
  position:absolute;
  left:168px;
  top:368px;
  width:98px;
  height:36px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:282px;
  top:374px;
  width:458px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u121 {
  position:absolute;
  left:787px;
  top:421px;
  width:150px;
  height:57px;
}
#u122 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
