body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:92px;
}
#u1052 {
  position:absolute;
  left:99px;
  top:11px;
  width:231px;
  height:92px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1053 {
  position:absolute;
  left:2px;
  top:38px;
  width:227px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1054 {
  position:absolute;
  left:351px;
  top:50px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:0px;
  top:177px;
  width:1224px;
  height:49px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:16px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1058 {
  position:absolute;
  left:99px;
  top:188px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:300px;
}
#u1060 {
  position:absolute;
  left:99px;
  top:240px;
  width:1086px;
  height:300px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:142px;
  width:1082px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1062 {
  position:absolute;
  left:671px;
  top:566px;
  width:344px;
  height:53px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1064 {
  position:absolute;
  left:671px;
  top:663px;
  width:344px;
  height:53px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1066 {
  position:absolute;
  left:671px;
  top:760px;
  width:344px;
  height:53px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:256px;
}
#u1068 {
  position:absolute;
  left:134px;
  top:562px;
  width:449px;
  height:256px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:120px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070 {
  position:absolute;
  left:99px;
  top:124px;
}
#u1070_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1070_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
}
#u1071_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071.selected {
}
#u1072 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  position:absolute;
  left:135px;
  top:0px;
  width:136px;
  height:43px;
}
#u1073_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073.selected {
}
#u1074 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075 {
  position:absolute;
  left:270px;
  top:0px;
  width:136px;
  height:43px;
}
#u1075_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075.selected {
}
#u1076 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1077 {
  position:absolute;
  left:405px;
  top:0px;
  width:136px;
  height:43px;
}
#u1077_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1077.selected {
}
#u1078 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1079 {
  position:absolute;
  left:540px;
  top:0px;
  width:136px;
  height:43px;
}
#u1079_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1079.selected {
}
#u1080 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  position:absolute;
  left:675px;
  top:0px;
  width:136px;
  height:43px;
}
#u1081_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081.selected {
}
#u1082 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083 {
  position:absolute;
  left:945px;
  top:0px;
  width:136px;
  height:43px;
}
#u1083_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083.selected {
}
#u1084 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1086 {
  position:absolute;
  left:134px;
  top:42px;
  width:136px;
  height:43px;
}
#u1086_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1086.mouseOver {
}
#u1087 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:134px;
  top:84px;
  width:136px;
  height:43px;
}
#u1088_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088.mouseOver {
}
#u1089 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:134px;
  top:126px;
  width:136px;
  height:43px;
}
#u1090_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090.mouseOver {
}
#u1091 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1093 {
  position:absolute;
  left:270px;
  top:43px;
  width:136px;
  height:43px;
}
#u1093_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1093.mouseOver {
}
#u1094 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1095 {
  position:absolute;
  left:270px;
  top:85px;
  width:136px;
  height:43px;
}
#u1095_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1095.mouseOver {
}
#u1096 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1097 {
  position:absolute;
  left:270px;
  top:127px;
  width:136px;
  height:43px;
}
#u1097_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1097.mouseOver {
}
#u1098 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099 {
  position:absolute;
  left:810px;
  top:0px;
  width:136px;
  height:43px;
}
#u1099_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099.selected {
}
#u1100 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1101 {
  position:absolute;
  left:57px;
  top:124px;
  width:42px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
