body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2477 {
  position:absolute;
  left:0px;
  top:32px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u2478 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2479 {
  position:absolute;
  left:0px;
  top:75px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u2479_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2479.selected {
}
#u2480 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2481 {
  position:absolute;
  left:0px;
  top:118px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u2481_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2481.selected {
}
#u2482 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2483 {
  position:absolute;
  left:0px;
  top:161px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u2483_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2483.selected {
}
#u2484 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u2485 {
  position:absolute;
  left:153px;
  top:41px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u2486 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u2487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2487 {
  position:absolute;
  left:0px;
  top:203px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u2487_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2487.selected {
}
#u2488 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2489 {
  position:absolute;
  left:192px;
  top:-1px;
  width:1687px;
  height:1121px;
}
#u2489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1687px;
  height:1121px;
}
