body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1154px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:858px;
}
#u15 {
  position:absolute;
  left:-73px;
  top:-16px;
  width:1300px;
  height:858px;
}
#u16 {
  position:absolute;
  left:2px;
  top:421px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
