body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8031 {
  position:absolute;
  left:23px;
  top:13px;
  width:113px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8032 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:2px;
}
#u8033 {
  position:absolute;
  left:33px;
  top:78px;
  width:988px;
  height:1px;
}
#u8034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8036 {
  position:absolute;
  left:48px;
  top:101px;
  width:300px;
  height:170px;
}
#u8037 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8038 {
  position:absolute;
  left:173px;
  top:161px;
  width:50px;
  height:50px;
}
#u8039 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8040 {
  position:absolute;
  left:170px;
  top:282px;
  width:57px;
  height:17px;
}
#u8041 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u8042 {
  position:absolute;
  left:285px;
  top:283px;
  width:20px;
  height:16px;
}
#u8043 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u8044 {
  position:absolute;
  left:325px;
  top:280px;
  width:20px;
  height:22px;
}
#u8045 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
