body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:0px;
  top:57px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u90 {
  position:absolute;
  left:0px;
  top:273px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u91 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u92 {
  position:absolute;
  left:0px;
  top:111px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:0px;
  top:165px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u96 {
  position:absolute;
  left:0px;
  top:435px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u97 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u98 {
  position:absolute;
  left:0px;
  top:327px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u99 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u100 {
  position:absolute;
  left:0px;
  top:489px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u101 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:183px;
  top:0px;
  width:1300px;
  height:945px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:945px;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:0px;
  top:381px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u105 {
  position:absolute;
  left:0px;
  top:543px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u106 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u107 {
  position:absolute;
  left:0px;
  top:597px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u108 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u109 {
  position:absolute;
  left:0px;
  top:3px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u111 {
  position:absolute;
  left:0px;
  top:219px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u112 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
