body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:0px;
  top:57px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u115 {
  position:absolute;
  left:0px;
  top:219px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:0px;
  top:111px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:0px;
  top:165px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u120 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u121 {
  position:absolute;
  left:0px;
  top:381px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u122 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u123 {
  position:absolute;
  left:0px;
  top:273px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u124 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u125 {
  position:absolute;
  left:0px;
  top:435px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:183px;
  top:0px;
  width:1300px;
  height:945px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:945px;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u128 {
  position:absolute;
  left:0px;
  top:327px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u129 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u130 {
  position:absolute;
  left:0px;
  top:489px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:0px;
  top:543px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(31, 45, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u134 {
  position:absolute;
  left:0px;
  top:3px;
  width:183px;
  height:54px;
  font-size:16px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
