body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:92px;
}
#u1414 {
  position:absolute;
  left:99px;
  top:11px;
  width:231px;
  height:92px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1415 {
  position:absolute;
  left:2px;
  top:38px;
  width:227px;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1416 {
  position:absolute;
  left:351px;
  top:50px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1418 {
  position:absolute;
  left:0px;
  top:177px;
  width:1224px;
  height:49px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:16px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1420 {
  position:absolute;
  left:99px;
  top:188px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:300px;
}
#u1422 {
  position:absolute;
  left:99px;
  top:240px;
  width:1086px;
  height:300px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:142px;
  width:1082px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:795px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1424 {
  position:absolute;
  left:99px;
  top:566px;
  width:949px;
  height:795px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1425 {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  white-space:nowrap;
}
#u1426 {
  position:absolute;
  left:99px;
  top:124px;
}
#u1426_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1426_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1427 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
}
#u1427_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1427.selected {
}
#u1428 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1429 {
  position:absolute;
  left:135px;
  top:0px;
  width:136px;
  height:43px;
}
#u1429_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1429.selected {
}
#u1430 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1431 {
  position:absolute;
  left:270px;
  top:0px;
  width:136px;
  height:43px;
}
#u1431_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1431.selected {
}
#u1432 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1433 {
  position:absolute;
  left:405px;
  top:0px;
  width:136px;
  height:43px;
}
#u1433_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1433.selected {
}
#u1434 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1435 {
  position:absolute;
  left:540px;
  top:0px;
  width:136px;
  height:43px;
}
#u1435_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1435.selected {
}
#u1436 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1437 {
  position:absolute;
  left:675px;
  top:0px;
  width:136px;
  height:43px;
}
#u1437_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1437.selected {
}
#u1438 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1439 {
  position:absolute;
  left:945px;
  top:0px;
  width:136px;
  height:43px;
}
#u1439_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1439.selected {
}
#u1440 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1441 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1442 {
  position:absolute;
  left:134px;
  top:42px;
  width:136px;
  height:43px;
}
#u1442_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1442.mouseOver {
}
#u1443 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444 {
  position:absolute;
  left:134px;
  top:84px;
  width:136px;
  height:43px;
}
#u1444_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444.mouseOver {
}
#u1445 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1446 {
  position:absolute;
  left:134px;
  top:126px;
  width:136px;
  height:43px;
}
#u1446_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1446.mouseOver {
}
#u1447 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449 {
  position:absolute;
  left:270px;
  top:43px;
  width:136px;
  height:43px;
}
#u1449_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449.mouseOver {
}
#u1450 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1451 {
  position:absolute;
  left:270px;
  top:85px;
  width:136px;
  height:43px;
}
#u1451_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1451.mouseOver {
}
#u1452 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1453 {
  position:absolute;
  left:270px;
  top:127px;
  width:136px;
  height:43px;
}
#u1453_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1453.mouseOver {
}
#u1454 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  position:absolute;
  left:810px;
  top:0px;
  width:136px;
  height:43px;
}
#u1455_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455.selected {
}
#u1456 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1457 {
  position:absolute;
  left:57px;
  top:124px;
  width:42px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
