.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._图片 {
  color:#000000;
}
._水平线 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
._多行文本框 {
  color:#000000;
  text-align:left;
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._流程形状 {
}
._垂直线 {
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框1 {
  color:#000000;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.box_1 {
}
.box_3 {
}
.line {
}
.droplist {
  color:#000000;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.ellipse {
}
.button {
}
._图片1 {
  color:#000000;
}
.image {
}
.primary_button {
  color:#FFFFFF;
}
.icon {
}
.paragraph {
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.shape {
}
.image1 {
  color:#000000;
}
.box_2 {
}
._文本段落1 {
  text-align:left;
}
._图片2 {
}
.flow_shape {
}
