body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u604 {
  position:absolute;
  left:70px;
  top:27px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:2px;
}
#u606 {
  position:absolute;
  left:70px;
  top:74px;
  width:1046px;
  height:1px;
}
#u607 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u608 {
  position:absolute;
  left:82px;
  top:106px;
  width:224px;
  height:136px;
  font-size:18px;
}
#u609 {
  position:absolute;
  left:2px;
  top:57px;
  width:220px;
  word-wrap:break-word;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u610 {
  position:absolute;
  left:342px;
  top:106px;
  width:224px;
  height:136px;
  font-size:18px;
}
#u611 {
  position:absolute;
  left:2px;
  top:57px;
  width:220px;
  word-wrap:break-word;
}
#u612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u612 {
  position:absolute;
  left:602px;
  top:106px;
  width:224px;
  height:136px;
  font-size:18px;
}
#u613 {
  position:absolute;
  left:2px;
  top:57px;
  width:220px;
  word-wrap:break-word;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u615 {
  position:absolute;
  left:862px;
  top:106px;
  width:224px;
  height:136px;
  font-size:18px;
}
#u616 {
  position:absolute;
  left:2px;
  top:57px;
  width:220px;
  word-wrap:break-word;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u617 {
  position:absolute;
  left:258px;
  top:220px;
  width:43px;
  height:16px;
  color:#3399FF;
}
#u618 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u619 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u620 {
  position:absolute;
  left:82px;
  top:270px;
  width:224px;
  height:136px;
  font-size:18px;
}
#u621 {
  position:absolute;
  left:2px;
  top:60px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u622 {
  position:absolute;
  left:179px;
  top:323px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u623 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u624 {
  position:absolute;
  left:871px;
  top:220px;
  width:71px;
  height:16px;
  color:#999999;
}
#u625 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u626 {
  position:absolute;
  left:519px;
  top:220px;
  width:43px;
  height:16px;
  color:#3399FF;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  position:absolute;
  left:244px;
  top:13px;
  width:233px;
  height:51px;
}
#u629 {
  position:absolute;
  left:2px;
  top:18px;
  width:229px;
  word-wrap:break-word;
}
