body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u640 {
  position:absolute;
  left:23px;
  top:13px;
  width:113px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:2px;
}
#u642 {
  position:absolute;
  left:33px;
  top:78px;
  width:988px;
  height:1px;
}
#u643 {
  position:absolute;
  left:2px;
  top:-8px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u644 {
  position:absolute;
  left:347px;
  top:187px;
  width:185px;
  height:56px;
}
#u645 {
  position:absolute;
  left:10px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
