body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1141px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:41px;
  top:94px;
  width:328px;
  height:237px;
}
#u379 {
  position:absolute;
  left:2px;
  top:110px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u380 {
  position:absolute;
  left:41px;
  top:13px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u382 {
  position:absolute;
  left:41px;
  top:68px;
  width:1100px;
  height:1px;
}
#u383 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u384 {
  position:absolute;
  left:55px;
  top:101px;
  width:300px;
  height:170px;
}
#u385 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386 {
  position:absolute;
  left:96px;
  top:289px;
  width:219px;
  height:25px;
}
#u386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387 {
  position:absolute;
  left:409px;
  top:581px;
  width:140px;
  height:40px;
}
#u388 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  position:absolute;
  left:633px;
  top:581px;
  width:140px;
  height:40px;
}
#u390 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392 {
  position:absolute;
  left:409px;
  top:94px;
  width:328px;
  height:237px;
}
#u393 {
  position:absolute;
  left:2px;
  top:110px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u394 {
  position:absolute;
  left:423px;
  top:101px;
  width:300px;
  height:170px;
}
#u395 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396 {
  position:absolute;
  left:464px;
  top:289px;
  width:219px;
  height:25px;
}
#u396_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.43921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u397 {
  position:absolute;
  left:707px;
  top:95px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u398 {
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  position:absolute;
  left:763px;
  top:39px;
  width:68px;
  height:16px;
}
#u400 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
