body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:2px;
  top:0px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:192px;
  top:0px;
  width:1300px;
  height:2200px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:2200px;
}
