body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1141px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u815 {
  position:absolute;
  left:41px;
  top:13px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u817 {
  position:absolute;
  left:41px;
  top:68px;
  width:1100px;
  height:1px;
}
#u818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u819 {
  position:absolute;
  left:41px;
  top:91px;
  width:366px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u820 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u821 {
  position:absolute;
  left:407px;
  top:91px;
  width:366px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u822 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u823 {
  position:absolute;
  left:773px;
  top:91px;
  width:366px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u824 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u825 {
  position:absolute;
  left:41px;
  top:139px;
  width:366px;
  height:47px;
}
#u826 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:407px;
  top:139px;
  width:366px;
  height:47px;
}
#u828 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:773px;
  top:139px;
  width:366px;
  height:47px;
}
#u830 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u831 {
  position:absolute;
  left:866px;
  top:155px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u833 {
  position:absolute;
  left:941px;
  top:155px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u835 {
  position:absolute;
  left:1018px;
  top:155px;
  width:29px;
  height:16px;
  color:#339966;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u838 {
  position:absolute;
  left:1010px;
  top:39px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u839 {
  position:absolute;
  left:0px;
  top:3px;
  width:30px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u840 {
  position:absolute;
  left:1039px;
  top:42px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u843 {
  position:absolute;
  left:903px;
  top:43px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099FF;
  text-align:center;
}
#u845 {
  position:absolute;
  left:873px;
  top:39px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099FF;
  text-align:center;
}
#u846 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u847 {
  position:absolute;
  left:763px;
  top:39px;
  width:68px;
  height:16px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:41px;
  top:185px;
  width:366px;
  height:47px;
}
#u850 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:407px;
  top:185px;
  width:366px;
  height:47px;
}
#u852 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  position:absolute;
  left:773px;
  top:185px;
  width:366px;
  height:47px;
}
#u854 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u855 {
  position:absolute;
  left:866px;
  top:201px;
  width:29px;
  height:16px;
  color:#0099FF;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u857 {
  position:absolute;
  left:941px;
  top:201px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u859 {
  position:absolute;
  left:1018px;
  top:201px;
  width:29px;
  height:16px;
  color:#339966;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
