body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u381 {
  position:absolute;
  left:54px;
  top:11px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u383 {
  position:absolute;
  left:30px;
  top:94px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u384 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u385 {
  position:absolute;
  left:146px;
  top:94px;
  width:300px;
  height:25px;
}
#u385_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u386 {
  position:absolute;
  left:30px;
  top:156px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u388 {
  position:absolute;
  left:30px;
  top:411px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:2px;
}
#u390 {
  position:absolute;
  left:54px;
  top:49px;
  width:1186px;
  height:1px;
}
#u391 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392 {
  position:absolute;
  left:211px;
  top:597px;
  width:140px;
  height:40px;
}
#u393 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  position:absolute;
  left:424px;
  top:597px;
  width:140px;
  height:40px;
}
#u395 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u396 {
  position:absolute;
  left:30px;
  top:315px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:46px;
}
#u398 {
  position:absolute;
  left:146px;
  top:303px;
  width:400px;
  height:46px;
}
#u399 {
  position:absolute;
  left:2px;
  top:15px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:46px;
}
#u400 {
  position:absolute;
  left:146px;
  top:399px;
  width:400px;
  height:46px;
}
#u401 {
  position:absolute;
  left:2px;
  top:15px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u402 {
  position:absolute;
  left:66px;
  top:485px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u404 {
  position:absolute;
  left:181px;
  top:484px;
  width:50px;
  height:25px;
}
#u404_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u405 {
  position:absolute;
  left:241px;
  top:484px;
  width:25px;
  height:25px;
}
#u406 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u407 {
  position:absolute;
  left:146px;
  top:484px;
  width:25px;
  height:25px;
}
#u408 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  position:absolute;
  left:144px;
  top:156px;
  width:640px;
  height:34px;
}
#u411 {
  position:absolute;
  left:2px;
  top:9px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u412 {
  position:absolute;
  left:302px;
  top:169px;
  width:16px;
  height:14px;
}
#u413 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u414 {
  position:absolute;
  left:328px;
  top:169px;
  width:16px;
  height:14px;
}
#u415 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u416 {
  position:absolute;
  left:354px;
  top:169px;
  width:16px;
  height:14px;
}
#u417 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u418 {
  position:absolute;
  left:382px;
  top:169px;
  width:16px;
  height:14px;
}
#u419 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420 {
  position:absolute;
  left:157px;
  top:166px;
  width:87px;
  height:19px;
}
#u420_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u420_input:disabled {
  color:grayText;
}
#u421 {
  position:absolute;
  left:248px;
  top:166px;
  width:44px;
  height:19px;
}
#u421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u421_input:disabled {
  color:grayText;
}
#u422 {
  position:absolute;
  left:144px;
  top:193px;
  width:640px;
  height:90px;
}
#u422_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u423 {
  position:absolute;
  left:583px;
  top:325px;
  width:187px;
  height:120px;
}
#u424 {
  position:absolute;
  left:10px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
