body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:92px;
}
#u1025 {
  position:absolute;
  left:99px;
  top:11px;
  width:231px;
  height:92px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1026 {
  position:absolute;
  left:2px;
  top:38px;
  width:227px;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1027 {
  position:absolute;
  left:351px;
  top:50px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  position:absolute;
  left:0px;
  top:177px;
  width:1224px;
  height:49px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:16px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1031 {
  position:absolute;
  left:99px;
  top:188px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:300px;
}
#u1033 {
  position:absolute;
  left:99px;
  top:240px;
  width:1086px;
  height:300px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:142px;
  width:1082px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1035 {
  position:absolute;
  left:671px;
  top:566px;
  width:344px;
  height:53px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1037 {
  position:absolute;
  left:671px;
  top:663px;
  width:344px;
  height:53px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1039 {
  position:absolute;
  left:671px;
  top:760px;
  width:344px;
  height:53px;
  font-family:'华文行楷 Bold', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:256px;
}
#u1041 {
  position:absolute;
  left:134px;
  top:562px;
  width:449px;
  height:256px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:120px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:99px;
  top:124px;
}
#u1043_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1043_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
}
#u1044_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044.selected {
}
#u1045 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:135px;
  top:0px;
  width:136px;
  height:43px;
}
#u1046_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046.selected {
}
#u1047 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  position:absolute;
  left:270px;
  top:0px;
  width:136px;
  height:43px;
}
#u1048_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048.selected {
}
#u1049 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:405px;
  top:0px;
  width:136px;
  height:43px;
}
#u1050_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050.selected {
}
#u1051 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:540px;
  top:0px;
  width:136px;
  height:43px;
}
#u1052_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052.selected {
}
#u1053 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  position:absolute;
  left:675px;
  top:0px;
  width:136px;
  height:43px;
}
#u1054_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054.selected {
}
#u1055 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:945px;
  top:0px;
  width:136px;
  height:43px;
}
#u1056_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056.selected {
}
#u1057 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  position:absolute;
  left:134px;
  top:42px;
  width:136px;
  height:43px;
}
#u1059_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059.mouseOver {
}
#u1060 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  position:absolute;
  left:134px;
  top:84px;
  width:136px;
  height:43px;
}
#u1061_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061.mouseOver {
}
#u1062 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:134px;
  top:126px;
  width:136px;
  height:43px;
}
#u1063_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063.mouseOver {
}
#u1064 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:270px;
  top:43px;
  width:136px;
  height:43px;
}
#u1066_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066.mouseOver {
}
#u1067 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:270px;
  top:85px;
  width:136px;
  height:43px;
}
#u1068_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068.mouseOver {
}
#u1069 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:270px;
  top:127px;
  width:136px;
  height:43px;
}
#u1070_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070.mouseOver {
}
#u1071 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  position:absolute;
  left:810px;
  top:0px;
  width:136px;
  height:43px;
}
#u1072_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072.selected {
}
#u1073 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u1074 {
  position:absolute;
  left:57px;
  top:124px;
  width:42px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
