body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u840 {
  position:absolute;
  left:23px;
  top:13px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:2px;
}
#u842 {
  position:absolute;
  left:33px;
  top:78px;
  width:988px;
  height:1px;
}
#u843 {
  position:absolute;
  left:2px;
  top:-8px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:33px;
  top:110px;
  width:988px;
  height:55px;
}
#u845 {
  position:absolute;
  left:2px;
  top:20px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u846 {
  position:absolute;
  left:199px;
  top:124px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u848 {
  position:absolute;
  left:764px;
  top:124px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u850 {
  position:absolute;
  left:197px;
  top:197px;
  width:53px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u852 {
  position:absolute;
  left:679px;
  top:197px;
  width:220px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u854 {
  position:absolute;
  left:197px;
  top:268px;
  width:53px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u856 {
  position:absolute;
  left:679px;
  top:268px;
  width:220px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
