body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u225 {
  position:absolute;
  left:490px;
  top:170px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u225_img.mouseOver {
}
#u225.mouseOver {
}
#u226 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
