body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:2px;
  top:25px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:2px;
  top:68px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u2_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2.selected {
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4 {
  position:absolute;
  left:155px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u5 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:2px;
  top:110px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:2px;
  top:153px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u8_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:2px;
  top:196px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u10_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:2px;
  top:239px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u14 {
  position:absolute;
  left:155px;
  top:119px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u15 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:2px;
  top:363px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:2px;
  top:406px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u18_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:2px;
  top:449px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u20_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u22 {
  position:absolute;
  left:155px;
  top:372px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u23 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:192px;
  top:-1px;
  width:1220px;
  height:1068px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:1068px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:281px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u25_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:2px;
  top:322px;
  width:190px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u27_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
